<div class="container">

<h1>新規投稿</h1>
<%= form_with model: @post local: true do |f| %>
  <div>
    <%= render 'shared/error_messages', object: f.object %>
  </div>
  <div>
   <%= f.label :title %>
   <%= f.text_field :title

</div>
  
